page-claims {
  .header{
    text-align: center;
    font-family: cursive;
    padding: 50px;
    color: #ffffff;
    height: 200px;
    background: linear-gradient(#4ec0fe,#7686ef);
  }

  .rounded-img{
    margin: 35px;
    width: auto;
    height: 120px;
    border: 5px solid;
    border-radius: 50%;
    border-color: white;
  }
}
